@import "bootstrap";

body {
    min-height: 100vh;
}

.full-height {
    height: 90vh;
}

.container.root {
    margin-top: 2vh;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

.msg-view {
    display: flex;
    flex-direction: column;
}

#messages {
    align-self: start;
    height: 100%;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow-y: scroll;
}

.message {
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    padding: 5px 10px;
    margin-top: 3px;
}

.self {
    background-color: lightskyblue;
}

#contacts-view {
    background-color: #ebebeb;
    padding: 0;
}

.contact {
    background-color: #d1cfcf;
    padding: 10px 20px;
    font-weight: normal;
    user-select: none;
}

.contact .number {
    font-size: smaller;
}

.contact:hover {
    background-color: #a1a1a1;
    font-weight: lighter;
    cursor: pointer;
}

.contact.selected {
    background-color: #696969;   
}

#sendbox {
    align-self: flex-end;
    width: 100%;
}