.full-height {
    height: 96vh;
}

.container.root {
    margin-top: 2vh;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

.contacts-view {
    background-color: #ebebeb;
}

.msg-view {
    display: flex;
    flex-direction: column;
}

#messages {
    align-self: start;
    height: 100%;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    overflow-y: scroll;
}

.message {
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    padding: 5px 10px;
    margin-top: 3px;
}

.self {
    background-color: lightskyblue;
}

#sendbox {
    align-self: flex-end;
    width: 100%;
}